nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
    background-color:#3d1b02;
    font-weight: bold;
}

.navleft {
    margin-left: 5rem;
}

.navright {
    margin-right: 5rem
}

nav ul {
    display:flex;
    justify-content: center;
    gap:5em;
    margin-right:25em;
    list-style: none;
}

.Link {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    background-color: none
}

.linkbutton {
    text-decoration: none;
    color: white
}